@using FiszkiApp.Controllers
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Statistics</h1>
    <table class="table table-bordered table-responsive table-hover">  
        <tr>  
            <th>Username </th>  
            <th>Subject </th>  
            <th>Batch </th>  
            <th>Time</th>  
            <th>Efficiency</th>  
            <th>Date</th>  
        </tr>  
        @foreach (var d in DatabaseConnector.getStats())  
        {  
            <tr>  
                <td>@d.user</td>  
                <td>@d.subject</td>  
                <td>@d.batch</td>  
                <td>@d.time</td>  
                <td>@d.efficiency</td>  
                <td>@d.date</td>  
      
            </tr>  
        }  
    </table>
</div>